<% provide(:title, @project.name) %>
<% provide(:header, render('shared/project_header')) %>
  <div class="col-md-10 col-md-offset-1">
    <h1><%= "#{@project.name} / Project Members" %></h1>
    <div class="right">
      <%= link_to 'メンバー招待', new_project_project_member_path(@project), class: 'btn btn-primary', id: 'invite-button' %>
    </div>
    <hr>
  </div>
<!--application.html.erbからのdiv.rowを閉じる-->
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h1>参加メンバー一覧</h1>
    <ul>
      <% @participants.each do |p| %>
        <div class="dropdown">
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= "#{p.name}" %> <b class="caret"></b>
          </a>
            <ul class="dropdown-menu">
              <li><a><%= "#{p.name}" %></a></li>
              <li class="divider"></li>
              <li><%= link_to "プロジェクトから外す", project_project_member_path(@project.id, p.id), method: 'delete' %></li>
            </ul>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
<!--div.rowの閉じタグはapplication.html.erbにある-->
