<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ul id="logo" class="nav navbar-nav navbar-left top-nav">
    <li><%= link_to 'Core', root_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right top-nav">
    <% if user_signed_in? %>
      <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= "#{current_user.name}" %> <b class="caret"></b>
      </a>
        <ul class="dropdown-menu">
          <li><%= link_to "マイページ / #{current_user.name}", '#' %></li>
          <li><%= link_to "プロジェクト一覧", projects_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
