<div class="modal-dialog" id="newproject-input-modal">
  <div class="modal-content">
    <h2>新規プロジェクト作成</h2>
    <hr>
    <div class="col-md-offset-1 new-project">
      <p><%= form_tag projects_path, :method => 'post' %></p>
      <p><%= label_tag 'プロジェクト名 : ' %></p>
      <p><%= text_field_tag :project_name, params[:project_name], placeholder: 'new project' %>
        <%= submit_tag "作成", :name => nil, class: 'btn btn-default' %></p>
      <p><%= link_to 'キャンセル', :back, class: 'btn btn-default' %></p>
    </div>
  </div>
</div>
