<% provide(:title, @project.name) %>
<% provide(:header, render('shared/project_header')) %>
<div class="col-xs-2" id="sidebar">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-xs-8" id="project-main">

  <div class="wrap-project-showpage">
    <ul class="list-group">

      <div class="panel-group">
        <% @ordered_stories.each do |s| %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <% if s.point.present? %>
                  <i class="fab fa-product-hunt"></i><c><%= s.point %></c>
                <% end %>
                <%= link_to "#{s.title}", "##{s.id}", "data-toggle": "collapse" %>
              </h4>
            </div>

            <%= content_tag :div, id: "#{s.id}", class: "panel-collapse collapse" do -%>
              <ul class="list-group">
                <%#= content_tag :li, s.title, class: "list-group-item" %>
                <%#= content_tag :li, s.description, class: "list-group-item" %>
                <li class="list-group-item">
                  <%= form_tag project_story_path(@project, s), method: 'patch' do %>
                    <%= label_tag s.id, 'story title', class: 'edit-label' %>
                    <%= submit_tag '編集確定', class: 'btn btn-primary pull-right edit-btn' %>
                    <%= text_field_tag "#{s.id}[title]", s.title, class: 'form-control' %>
                    <%= label_tag s.id, 'description', class: 'edit-label' %>
                    <%= text_area_tag "#{s.id}[description]", s.description, class: 'form-control', rows: '10' %>

                    <%= label_tag s.id, 'importance', class: 'edit-label' %>
                    <%= collection_select "#{s.id}[importance]", s.importance, @select_importance, :id, :title %>

                    <%= submit_tag '編集確定', class: 'btn btn-primary edit-btn btn-block' %>
                  <% end %>
                </li>
              </ul>
            <% end %>

          </div>

        <% end %>

      </div>

    </ul>

  </div>

</div>
