<% provide(:title, @project.name) %>
<% provide(:header, render('shared/project_header')) %>
<div class="col-xs-2" id="sidebar">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-xs-8" id="project-main">

  <div class="wrap-project-showpage">
    <ul class="list-group">

      <div class="panel-group">
        <% @stories.each do |s| %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%= link_to "#{s.title}", "##{s.id}", "data-toggle": "collapse" %>
              </h4>
            </div>

            <%= content_tag :div, id: "#{s.id}", class: "panel-collapse collapse" do -%>
              <ul class="list-group">
                <%= content_tag :li, s.title, class: "list-group-item" %>
                <%= content_tag :li, s.description, class: "list-group-item" %>
              </ul>
            <% end %>

          </div>

        <% end %>

      </div>

    </ul>

  </div>

</div>
