<% provide(:title, @project.name) %>
<% provide(:header, render('shared/project_header')) %>
<div class="col-xs-2" id="sidebar">
  <%= render 'shared/sidebar' %>
</div>
<div class="col-xs-10" id="project-main">
  <div class="col-md-6 new-story-form">
    <h1>新規ストーリー</h1>
    <%= form_for @new_story, url: project_stories_path, method: 'post' do |f| %>
      <div class="form-group">
        <%= f.label 'title' %>
        <%= f.text_field :title, class: 'form-control', presence: true %>
      </div>
      <div class="form-group">
        <%= f.label 'description' %>
        <%= f.text_area :description, class: 'form-control', rows: '10' %>
      </div>
      <div class="form-group">
        <%= f.label 'importance' %>
        <%= f.collection_select :importance, @ordered_iced_stories, :id, :title, class: 'form-control', :prompt => "保留" %>
      </div>
      <div class="form-group">
        <%= f.label 'point(number only)', id: 'point-label' %>
        <%= f.text_field :point, class: 'input-sm', id: 'point', presence: true, maxlength: 3 %>
      </div>
      <br>
      <%= f.submit '作成', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
