<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/header_info' %>
</head>

<body>

<div id="wrapper">
  <!--  下のページから、表示するヘッダを受け取る-->
  <%= yield(:header) %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row" id="main">
        <div id="newproject-input-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
